// scss-lint:disable all
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
  /*blockquote, */
pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, font,
ins, kbd, q, s, samp, small, strike,
  /*strong, */
sub, sup,
tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-wrap: break-word;
}

button {
  font-family: Roboto, sans-serif;
}

svg {
  height: 100%;
  width: 100%;
}

html {
  background-color: white;
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation emit, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

*,
*:before,
*:after {
  //* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  //* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  //* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box;
}

input, button, textarea {
  outline: none;
}

input, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 21px;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}


a {
  text-decoration: none;
  &:hover,
  &:active {
    outline: 0;
  }
}

a img {
  border: 0;
}

body {
  margin: auto;

  & > svg {
    display: none;
  }
}
