.header {
  align-items: center;
  background-color: rgb(46 139 87 / 87%);
  display: flex;
  height: 60px;
  padding: 0 20px;

  .heading {
    color: white;
    font-size: 24px;
  }
}

.main {
  height: calc(100vh - 60px);
}
