.header {
  padding: 10px;

  .heading {
    background-color: rgba(46, 139, 87, 0.29);
    font-weight: bold;
    border: 1px solid #adadad;
    padding: 10px;
    border-radius: 10px;
  }
}

.main {
  padding: 10px;
}
