.container {
  --pagination-height: 50px;

  height: 100%;
}

.list {
  background-color: aliceblue;
  overflow: auto;
  height: calc(100% - var(--pagination-height));
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.pagination {
  height: var(--pagination-height);
}
