
.wrap {
  height: 100%;
  padding: 10px;
}

.container {
  background-color: white;
  border: 1px solid #adadad;
  border-radius: 10px;
  height: 100%;

  .header {
    padding: 10px;

    .heading {
      background-color: rgba(46, 139, 87, 0.29);
      font-weight: bold;
      border: 1px solid #adadad;
      padding: 10px;
      border-radius: 10px;
    }
  }

  .main {
    padding: 0 10px 10px;
  }
}
