name: Simple CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Set SHAs for affected
        uses: nrwl/nx-set-shas@v4

      - name: Lint affected projects
        run: npx nx affected -t lint

      - name: Test affected projects
        run: npx nx affected -t test --configuration=ci

      - name: Build affected projects
        run: npx nx affected -t build
